// src\scss\base.scss

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $font-family;
  font-size: 1.5rem;
  background-color: $primary-color-shade-9;
  color: $primary-color-shade-1;

  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  background-color: transparent;
}
